:root {
    --color-fondo-principal: #1d1d2e;
    --color-fondo-secundario: #140329;
    --color-fondo-terciario: #1a0236;
    --color-texto-principal: #fff;
    --color-texto-secundario: #ccc;
    --color-texto-claro: #ddd;
    --color-acento: #ff6f61; /* Color naranja ahora cambiado */
    --color-parrafo: #cbbfe2; /* Nuevo color para títulos */
    --color-boton: #5a189a;
    --color-boton-hover: #7b2cbf;
    --color-menu-fondo: #24133b;
    
    --color-navbar-bg: rgb(16, 16, 16);
    --color-dropdown-bg: rgb(24, 24, 24);
    --color-dropdown-hover-bg: rgb(37, 37, 37);
    --color-footer-bg: rgba(0, 0, 0, 0.8);
    --color-footer-link-hover: var(--color-boton);
}

/* HTML base styles */
html {
    scroll-behavior: smooth;
    scrollbar-width: thin; /* Establece el ancho de la barra de desplazamiento */
    scrollbar-color: var(--color-boton) var(--color-fondo-principal);
    scroll-padding-top: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-texto-principal);
    background-color: var(--color-fondo-principal);
}

/* Estilos de la cabecera */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Logo alineado a la izquierda por defecto */
    height: 100vh;
    padding-left: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    text-align: left;
    overflow-x: hidden;
}

header h1 {
    margin: 0;
    font-size: 6rem;
    color: var(--color-texto-principal);
    padding: 0rem;
    text-align: left;
}

header img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 25rem;
}


/* Estilos generales para el nav */
.navbar {
    background-color: var(--color-navbar-bg);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0; /* Esto asegura que se quede pegado a la parte superior */
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Logo del restaurante */
.navbar .logo {
    height: 8.6rem; /* Ajusta el tamaño del logo */
}

/* Menú hamburguesa */
.menu-toggle {
    display: none;
}

.hamburger-menu {
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.dropdown-menu {
    display: none;
    background-color: var(--color-dropdown-bg);
    position: absolute;
    top: 70px;
    right: 30px;
    width: 250px;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.menu-toggle:checked + .hamburger-menu + .dropdown-menu {
    display: block;
    margin-top: 5rem;
}

/* Estilo de los enlaces del menú */
.dropdown-menu a {
    text-decoration: none;
    color: #f1f1f1; /* Color claro para los enlaces */
    padding: 12px 20px;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    border-bottom: 1px solid #444444;
}

.dropdown-menu a:hover {
    background-color: var(--color-dropdown-hover-bg);
}


h2, h3 {
    color: var(--color-texto-principal);
}

p {
    color: var(--color-parrafo);
}

/* Sección Sobre Nosotros */
.about, .menus, .reservations {
    background-color: var(--color-fondo-secundario);
    padding: 4rem 4rem 6rem;
    padding-top: calc(70px + 1rem); /* Añade espacio superior para no cubrir el título */
    text-align: left;
}


.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.text {
    max-width: 60%; /* Asegura que el texto no se haga demasiado largo */
}

.image img {
    width: 20rem; /* Esto asegura que la imagen se ajuste al tamaño del contenedor */
    max-width: 15rem; /* Controla el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
}

.why {
    margin-top: 3rem;
    font-weight: bold;
}

/* Sección de Reservas */
.reservations {
    background-color: var(--color-fondo-secundario);
    padding: 4rem 4rem;
    text-align: center;
}

.reservations h2 {
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: bold;
    color: var(--color-texto-claro);
}

input, textarea {
    margin-bottom: 2rem;
    padding: 10px;
    border: 2px solid var(--color-boton);
    border-radius: 5px;
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);
}

textarea {
    resize: none;
    height: 6rem;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-boton) var(--color-fondo-principal);
}

button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-boton);
    color: var(--color-texto-principal);
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--color-boton-hover);
}

/* Sección Menús */
.menus{
    background-color: var(--color-fondo-terciario);
}
.menu-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.menu-item {
    background-color: var(--color-menu-fondo);
    padding: 20px;
    border-radius: 10px;
    max-width: 250px;
    text-align: center;
}

.menu-item h3 {
    margin-bottom: 10px;
}

.menu-item img {
    width: 16rem;
    border-radius: 1rem;
}

/* Footer */
footer {
    background-color: var(--color-footer-bg);
    padding: 40px 0;
    text-align: center;
}

footer .footer-links {
    margin-bottom: 1.6rem;
}

footer .footer-links a {
    color: var(--color-texto-principal);
    margin: 0 15px;
    font-size: 24px;
}

footer .footer-links a:hover {
    color: var(--color-footer-link-hover);
}

footer p {
    margin: 10px 0;
    color: #bbb;
}

.map-container iframe {
    width: 60%;
    height: 250px;
    border-radius: 2rem;
}


/* Media Queries para hacer el diseño responsive */

/* Ajustes para pantallas más grandes */
@media (max-width: 1024px) {
    header {
        padding-left: 0; /* Elimina el padding izquierdo */
        text-align: center; /* Centra todo el contenido */
        align-items: center; /* Centra el logo en el centro */
    }

    header h1 {
        display: none; /* Oculta el texto en pantallas más pequeñas */
    }

    header p {
        display: none; /* Sigue ocultando el texto */
    }

    header img {
        margin: 0rem 3rem 15rem 2rem;
        width: 40rem; /* Ajusta el tamaño de la imagen */
        position: relative; /* El logo se centra de manera relativa */
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .text {
        max-width: 100%;
        text-align: center;
    }

    .image img {
        width: 30rem;
        max-width: 100%;
    }

    .reservations {
        padding: 2rem;
    }

    form {
        max-width: 100%;
        padding: 0 1rem;
    }

    .menu-container {
        align-items: center;
    }

    .menu-item {
        margin: 2rem 0.5rem;
    }

    footer {
        padding: 20px 0;
    }

    footer .footer-links a {
        font-size: 18px;
    }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    header {
        padding-left: 0; /* Elimina el padding izquierdo */
        text-align: center; /* Centra todo el contenido */
        align-items: center; /* Centra el logo en el centro */
    }

    header h1 {
        display: none; /* Oculta el texto en pantallas más pequeñas */
    }

    header p {
        display: none; /* Sigue ocultando el texto */
    }

    header img {
        margin: 0rem 1rem 15rem 2rem; /* Aplica el mismo margen que en 1024px */
        width: 40rem; /* Ajusta el tamaño de la imagen */
        position: relative; /* El logo se centra de manera relativa */
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .text {
        max-width: 100%;
        text-align: center;
    }

    .image img {
        width: 30rem;
        max-width: 100%;
    }

    .reservations {
        padding: 2rem;
    }

    form {
        max-width: 100%;
        padding: 0 1rem;
    }

    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        margin-bottom: 2rem;
    }

    footer {
        padding: 20px 0;
    }

    footer .footer-links a {
        font-size: 18px;
    }
}

/* Pantallas muy pequeñas (móviles muy pequeños) */
@media (max-width: 480px) {
    header h1 {
        display: none; /* Sigue ocultando el texto */
    }

    header p {
        display: none; /* Sigue ocultando el texto */
    }

    header img {
        width: 25rem; /* Ajusta aún más el tamaño del logo */
        margin:0 0.5rem 30rem 2.5rem ; /* Ajuste de posición para que quede bien */
    }

    .about-content {
        padding: 1rem;
    }

    .menu-item {
        max-width: 90%;
    }

    .reservations h2 {
        font-size: 2rem;
    }

    button {
        font-size: 1rem;
        padding: 12px;
    }

    footer .footer-links a {
        font-size: 16px;
    }
}

/* Pantallas muy pequeñas (móviles muy pequeños) */
@media (max-width: 375px) {
    .menu-item img{
        width: 10rem;
    }
}
